body {
  background-color: #f8f9fa;
}
.request-list {
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #dee2e6;
}
.request-item {
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.2s;
}
.request-item:hover {
  background-color: #E7E7E7;
  color: #1e40af;
}
.active-request {
  background-color: #E7E7E7 !important;
  color: #1e40af;
}
.request-detail {
  padding: 20px;
}
.card-body{
  border-radius: 8px;
  border-left: 4px solid rgb(30, 64, 175);
}
.card{
  border: none;
}
.dropdown-item:hover{
  background-color: rgb(231, 231, 231);
  color: rgb(30, 64, 175);
  font-weight: bold;
  cursor: pointer;
}
.alert {
  transition: opacity 0.3s ease-in-out;
}
#requestContent {
  white-space: pre-line;
  margin-bottom: .5rem;
}
#notifContainer {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1055;
  width: 320px;
}

#notifContainer .alert {
  margin-bottom: 10px;
  animation: slideIn 0.3s ease, fadeOut 0.3s ease 2.7s forwards;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateX(50px); }
}
.modal-warning{
  border-left: 5px solid #FF5533;
  background-color:#FFC3B8;
  text-align: left;
  padding: 10px;
}
.request-item.fw-bold {
  font-weight: 600;
  background-color: #f8f9fa; /* subtle highlight */
  border-left: 4px solid #198754; /* green accent */
}
.request-item .badge.bg-success {
  font-size: 0.7rem;
  vertical-align: middle;
}
