body {
  background-color: #f8f9fa;
}
.request-list {
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #dee2e6;
}
.request-item {
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.2s;
}
.request-item:hover {
  background-color: #E7E7E7;
  color: #1e40af;
}
.active-request {
  background-color: #E7E7E7 !important;
  color: #1e40af;
}
.request-detail {
  padding: 20px;
}
.card-body{
  border-radius: 8px;
  border-left: 4px solid rgb(30, 64, 175);
}
.card{
  border: none;
}
.dropdown-item:hover{
  background-color: rgb(231, 231, 231);
  color: rgb(30, 64, 175);
  font-weight: bold;
}
.alert {
  transition: opacity 0.3s ease-in-out;
}
#requestContent {
  white-space: pre-line; 
  margin-bottom: .5rem;
}
